﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4"> <a href="Рекуператоры-конвертирован.pdf" target="_blank">Рекуператор</a></h1>
       
    </div>

