﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - rekuperatorProekt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Chart.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Chart.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2016/b-pdf-viewer/bootstrap-pdf-viewer.css" />
    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2016/b-pdf-viewer/bootstrap-pdf-form-viewer.css" />
    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2016/b-pdf-viewer/bootstrap-pdf-form-builder.css" />
    <script src="http://bootstraptema.ru/plugins/2016/b-pdf-viewer/bootstrap-pdf-viewer.js"></script>
    <script src="http://bootstraptema.ru/plugins/2016/b-pdf-viewer/bootstrap-pdf-form-viewer.js"></script>
    <script src="http://bootstraptema.ru/plugins/2016/b-pdf-viewer/bootstrap-pdf-form-common.js"></script>
    <script src="http://bootstraptema.ru/plugins/2016/b-pdf-viewer/bootstrap-pdf-form-builder.js"></script>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Расчет керамического рекуператора</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="InputData">Исходные данные</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Расчет керамического рекуператора  <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

        </div>
    </footer>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
